@mixin flex($direction, $justify-content) {
    display: flex;
    flex-direction: $direction;
    flex-shrink: 1;
    justify-content: $justify-content;
    margin: 0 auto;
    overflow: hidden;
  }
  
  @mixin font($font-family, $font-weight, $font-size) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
  }
  
  @mixin grid($temp-column, $justify-content) {
    display: grid;
    grid-template-columns: $temp-column;
    justify-content: $justify-content;
  }

  @mixin gridRow($temp-row, $justify-content) {
    display: grid;
    grid-template-columns: $temp-row;
    justify-content: $justify-content;
  }

  @mixin container($height, $border, $borRadius){
    min-height: $height;
    border-radius: $borRadius;
    border: $border;
  }

  @mixin breakpoint($point) {
    @if $point == small {
      @media (max-width: 400px) { @content; }
    }
    @else if $point == medium {
      @media (max-width: 750px) { @content; }
    }
    @else if $point == large {
      @media (max-width: 1280px) { @content; }
    }
  }