@use "./mixins.scss" as *;


.schedule{
    @include grid( 1fr 1fr, baseline);
    align-items: baseline;
    width: 90%;
    height: fit-content;
    background-color: var( --primary-calendar-clr);
    padding: 3px;
    @include font(inherit, 400, 0.5rem);
    overflow: auto;
    line-height: 1.2;
    border-radius: 2px;
    position: relative;

    & * {

        margin: 0;;
    }
}

.walletIcon{
    position: absolute;
    top: 2px;
    right: 5px;
    color: var( --wallet-red-clr);
}