@use "./mixins.scss" as *;

.schedule{
    // width: 50vw;
    
    & form{
        @include flex(column, center);
        gap: 15px;

        & input{
            width: 95%;
            @include container(32px, 1px solid var(--primary-clr), 15px);
            
        }

        & button{
            @include container(40px, none, 15px);
            background-color: var(--secondary-clr);
            width: 95%;
        }

        & select {
            @include container(40px, 1px solid var(--primary-clr), 15px);
            padding: 7px;
        }
        & select:focus {
            border: 2px solid var(--primary-clr);
        }
    }
}



.icon {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

// .eventPosition{
//     z-index: 10;
//     position: absolute;
//     top: 20px;
//     left: 100px;
// }