@use "./mixins.scss" as *;

.nextLesson {
    @include container(370px, 1px solid var(--primary-clr), 30px);
    padding: 30px 5px 30px 30px;

    & h3 {
        @include font(inherit, 400, 1.5rem);
    }

    & button:nth-child(3) {
        @include container(40px, 1px solid var(--primary-clr), 30px);
        @include flex(column, center);
        align-items: center;
        width: 60%;
        background-color: var(--btn-clr);
    }
}


.table {
    margin-bottom: 35px;
}

.table p:nth-child(3) {
    display: none;
}

.table p:nth-child(2) {
    @include font(inherit, 400, 1rem);
    margin-left: 3px;
}

.table p:nth-child(4),
p:nth-child(5) {
    @include font(inherit, 300, 0.7rem);
}