@use "./mixins.scss" as *;

.table {
    display: grid;
    color: var(--placeholder-gray);
}

.tableRow {
    @include gridRow(repeat(7, 1fr), end);
    height: 32px;

    & div {
        border-bottom: 1px solid #ECECEC;
        width: 100%;
        @include flex(row, flex-end);
        align-items: self-end;
    }

    & p {
        margin: 0;
    }
}

.smallTable {
    display: grid;
    color: var(--placeholder-gray);
}

.smalltableRow {
    @include gridRow(repeat(7, 1fr), end);
    // height: 32px;
    @include font(inherit, 400, 0.75rem);

    & div {
        border-bottom: 1px solid #ECECEC;
        width: 100%;
        @include flex(row, flex-end);
        align-items: self-end;
    }

    & p {
        margin: 0;
    }
}

.mainCalendarMonth {
    @include gridRow(repeat(7, 1fr), end);
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

.calendarMonth {
    @include gridRow(repeat(7, 1fr), end);
    border-collapse: collapse;
    padding: 0;

    & span {
        width: 20px;
        height: 20px;
        padding: 3px;
    }
}

.months {
    height: 32px;
    margin-bottom: 12px;
    margin-top: 32px;
}

.monthsSmall {
    height: 32px;
    margin-bottom: 5px;
    margin-top: 12px;
}

.monthItems {
    @include flex(row, baseline);
    gap: 5px;
    

    & button {
        margin-left: 50px;
        @include container(32px, 1px solid var(--btn-clr), 15px);
        background-color: transparent;
        @include font(inherit, 400, 0.75rem);
        text-align: center;
        width: 85px;
        padding-bottom: 7px;
    }
}

.day {
    width: 100%;
    @include flex(column, baseline);
    align-items: self-end;
    border: 1px solid #ECECEC;
    // height: fit-content;
    min-height: 100px;
    background-color: #fff;
    overflow: hidden;
    margin: 0;

    & div {
        width: 94%;
        @include flex(column, flex-end);
        // margin: 2px;
    }


}

.date {
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.dayActive {
    display: flex;
    justify-content: flex-end;
    align-items: end;

    & * {
        box-sizing: border-box;
        background-color: var(--btn-clr);
        width: 27px;
        color: #fff;
        border-radius: 50%;
        padding-right: 4px;
    }
}

.daySmallCactive {
    & * {
        box-sizing: border-box;
        background-color: var(--btn-clr);
        width: 27px;
        color: #fff;
        border-radius: 50%;
        padding-right: 4px;
    }
}