:root {
  font-family: "Tsukimi Rounded", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primary-text-clr);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-clr: #7362BC;
  --secondary-clr: #DECFFF;
  --tertiary-clr: #EEEEFF;
  --fourth-clr: #D8ECFF;

  --primary-text-clr: #323854;
  --link-text-clr: #008AFF;
  --placeholder-gray: #79747F;
  --nav-text-clr: #434B74;
  --btn-clr: #8D7FC7;

  --primary-calendar-clr: #BBE7B9;
  --secondary-calendar-clr: #DECFFF;
  --tertiary-calendar-clr: #C8C5CD;

  --wallet-red-clr: #E12828;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
}

body::placeholder{
  color: var(--placeholder-gray);
}

.pageError {
  margin: 50px auto 0 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}
li{
  list-style: none;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

header {
  height: 50px;
  padding: 20px 20px 20px 30px;
  margin: 0 10px 20px 10px;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 8px 0 #F6F6FE;
  position: relative;
}

.burger-icon-open {
  width: 30px;
  height: 40px;
  position: absolute;
  background-color: var(--tertiary-clr);
  padding-top: 10px;
  margin-left: 250px;
  margin-top: 100px;
  border-radius: 0 5px 5px 0;
  z-index: 2;
  cursor: pointer;
}

.burger-icon-close {
  width: 30px;
  height: 40px;
  position: absolute;
  background-color: var(--tertiary-clr);
  padding-top: 10px;
  margin-left: 0;
  margin-top: 100px;
  z-index: 2;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.activeDay{
  color: #7362BC;
  font-size: 18px;
  font-weight: bold;
}

.inactive{
  color: #c9c9c9;
}

button{
  cursor: pointer;
}

